In [170]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel
import ipywidgets as widgets
from IPython.display import display, clear_output

In [13]:
data_cat = 'cat_breed_characteristics.csv'
data_dog = 'dog_breed_characteristics.csv'

df_cat = pd.read_csv(data_cat)
df_dog = pd.read_csv(data_dog)

In [212]:
df_cat.tail(50)

,BreedName,Temperment
16,Chausie,"Affectionate, Intelligent, Playful, Social"
17,Chinchilla,"Active, Playful"
18,Cornish Rex,"Affectionate, Intelligent, Active, Curious, Pl..."
19,Cymric,"Gentle, Loyal, Intelligent, Playful"
20,Devon Rex,"Intelligent, Active, Mischevious, Playful"
21,Dilute Calico,"Active, Curious, Easygoing, Playful, Calm"
22,Dilute Tortoiseshell,"Active, Curious, Easygoing, Playful, Calm"
23,Domestic Long Hair,"Active, Curious, Easygoing, Playful, Calm"
24,Domestic Medium Hair,"Active, Curious, Easygoing, Playful, Calm"
25,Domestic Short Hair,"Active, Curious, Easygoing, Playful, Calm"
26,Egyptian Mau,"Agile, Dependent, Gentle, Intelligent, Lively,..."
27,Exotic Shorthair,"Affectionate, Sweet, Loyal, Quiet, Peaceful"
28,Extra-Toes Cat (Hemingway Polydactyl),Six-Toed
29,Havana,"Affectionate, Curious, Demanding, Friendly, In..."
30,Himalayan,"Dependent, Gentle, Intelligent, Quiet, Social"
31,Japanese Bobtail,"Active, Agile, Clever, Easygoing, Intelligent,..."
32,Javanese,"Active, Devoted, Intelligent, Playful"
33,Korat,"Affectionate, Friendly, Gentle, Intelligent, P..."
34,LaPerm,"Intelligent, Clever, Active, Genlte"
35,Maine Coon,"Adaptable, Intelligent, Loving, Gentle, Indepe..."
36,Manx,"Easygoing, Intelligent, Loyal, Playful, Social"
37,Munchkin,"Agile, Easygoing, Intelligent, Playful"
38,Nebelung,"Gentle, Quiet, Shy, Playful"
39,Norwegian Forest Cat,"Sweet, Active, Intelligent, Social, Playful, L..."
40,Ocicat,"Active, Agile, Curious, Demanding, Friendly, G..."
41,Oriental Long Hair,"Energetic, Affectionate, Intelligent, Social, ..."
42,Oriental Short Hair,"Energetic, Affectionate, Intelligent, Social, ..."
43,Oriental Tabby,"Energetic, Affectionate, Intelligent, Social, ..."
44,Persian,"Affectionate, Loyal, Sedate, Quiet"
45,Pixie-Bob,"Affectionate, Social, Intelligent, Loyal"
46,Ragamuffin,"Affectionate, Friendly, Gentle, Calm"
47,Ragdoll,"Affectioante, Friendly, Gentle, Quiet, Easygoing"
48,Russian Blue,"Active, Dependent, Easygoing, Gentle, Intellig..."
49,Scottish Fold,"Affectionate, Intelligent, Loyal, Playful, Soc..."
50,Selkirk Rex,"Active, Affectionate, Dependent, Gentle, Patie..."
51,Siamese,"Active, Agile, Clever, Sociable, Loving, Energ..."
52,Siberian,"Intelligent, Loyal, Quiet, Active"
53,Silver,"Active, Curious, Easygoing, Playful, Calm"
54,Singapura,"Affectionate, Curious, Easygoing, Intelligent,..."
55,Snowshoe,"Affectionate, Social, Intelligent, Sweet-tempered"
56,Somali,"Mischevious, Tenacious, Intelligent, Affection..."
57,Sphynx (hairless cat),"Loyal, Inquisitive, Friendly, Quiet, Gentle"
58,Tabby,"Active, Curious, Easygoing, Playful, Calm"
59,Tiger,"Playful, Social, Intelligent"
60,Tonkinese,"Curious, Intelligent, Social, Lively, Outgoing..."
61,Torbie,"Active, Curious, Easygoing, Playful, Calm"
62,Tortoiseshell,"Active, Curious, Easygoing, Playful, Calm"
63,Turkish Angora,"Affectionate, Agile, Clever, Gentle, Intellige..."
64,Turkish Van,"Agile, Intelligent, Loyal, Playful, Energetic"
65,Tuxedo,"Active, Curious, Easygoing, Playful, Calm"

In [15]:
df_dog.head(1)

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0

In [21]:
# Drop columns not used
df_cat = df_cat.drop(['AltBreedName','LapCat', 'Fur', 'MaleWtKg', 'AvgKittenPrice', 'MalaysiaPopularity', 'PopularityUS2017'], axis=1)

In [25]:
# Drop columns not used
df_dog = df_dog.drop(['AltBreedName','Group1', 'Group2', 'MaleWtKg', 'AvgPupPrice', 'Intelligence', 'Watchdog', 'MalaysiaGuardedDog', 'MalaysiaProhibitedDog', 'MalaysiaPopularity', 'PopularityUS2017'], axis=1)

In [23]:
df_cat.head(1)

    BreedName                                         Temperment
0  Abyssinian  Active, Energetic, Independent, Intelligent, G...

In [24]:
df_dog.head(1)

       BreedName                                         Temperment
0  Affenpinscher  Active, Adventurous, Curious, Fun-loving, Play...

In [26]:
# Pet features
cat_features = df_cat['Temperment']
dog_features = df_dog['Temperment']

In [27]:
# Check null values
print(f'Total null values cat dataframe: {df_cat.Temperment.isnull().sum().sum()}\nTotal values dog dataframe: {df_dog.Temperment.isnull().sum().sum()}')

Total null values cat dataframe: 1
Total values dog dataframe: 1

In [28]:
# Clean dataframes from null values
df_cat = df_cat.dropna(subset=['Temperment'])
df_dog = df_dog.dropna(subset=['Temperment'])

In [29]:
# Check null values after dropna
print(f'Total null values cat dataframe: {df_cat.Temperment.isnull().sum().sum()}\nTotal values dog dataframe: {df_dog.Temperment.isnull().sum().sum()}')

Total null values cat dataframe: 0
Total values dog dataframe: 0

In [126]:
# Create matrix of TF-IDF features / Cat
vectorizer_cat = TfidfVectorizer(use_idf=True)

df_cat['Temperment'] = df_cat['Temperment'] .fillna('')
cat_matrix = vectorizer_cat.fit_transform(df_cat['Temperment'])
print(vectorizer_cat.get_feature_names())

['active', 'adaptable', 'affectioante', 'affectionate', 'agile', 'calm', 'clever', 'curious', 'demanding', 'dependent', 'devoted', 'easygoing', 'energetic', 'friendly', 'genlte', 'gentle', 'independent', 'inquisitive', 'intelligent', 'interactive', 'lively', 'loving', 'loyal', 'mischevious', 'outgoing', 'patient', 'peaceful', 'playful', 'quiet', 'rambunctious', 'sedate', 'sensible', 'sensitive', 'shy', 'six', 'sociable', 'social', 'sweet', 'tempered', 'tenacious', 'toed']

In [121]:
# Sparse matrix
cat_matrix

<66x41 sparse matrix of type '<class 'numpy.float64'>'
	with 356 stored elements in Compressed Sparse Row format>

# IDF Value
The lower the IDF value of a word, the less unique it is to any particular document. As we can see below the word playful has the lowest value, and then we can except this word to appear in the pet features many times.

In [125]:
# Idf weights
df_idf = pd.DataFrame(vectorizer_cat.idf_, index=vectorizer_cat.get_feature_names(),columns=["IDF Value"]) 
 
# sort ascending 
df_idf.sort_values(by=['IDF Value'])

              IDF Value
playful        1.376051
intelligent    1.541131
active         1.837397
affectionate   1.908856
curious        1.985817
social         2.069198
gentle         2.113650
easygoing      2.160170
loyal          2.260254
calm           2.496642
lively         2.565635
quiet          2.719786
agile          2.902108
energetic      3.007468
friendly       3.007468
interactive    3.258782
dependent      3.412933
clever         3.412933
sweet          3.595255
loving         3.595255
sociable       4.106080
mischevious    4.106080
patient        4.106080
inquisitive    4.106080
demanding      4.106080
independent    4.106080
tempered       4.511545
genlte         4.511545
adaptable      4.511545
six            4.511545
shy            4.511545
sensitive      4.511545
sensible       4.511545
sedate         4.511545
rambunctious   4.511545
affectioante   4.511545
peaceful       4.511545
devoted        4.511545
outgoing       4.511545
tenacious      4.511545
toed           4.511545

In [113]:
# Sigmoid
cat_sigmoid = sigmoid_kernel(cat_matrix, cat_matrix)

In [114]:
# Cat name and index
cat_title_index = pd.Series(df_cat.index, index=df_cat['BreedName'])

In [115]:
def recommend_pets(breed, pet_title, df, sigmoid=cat_sigmoid):
    pet = pet_title[breed]

    sigmoid_score = list(enumerate(sigmoid[pet]))

    sigmoid_score = sorted(sigmoid_score, key=lambda x: x[1], reverse=True)

    # Top 5 recommendations
    sigmoid_score = sigmoid_score[1:6]

    pet_index = [i[0] for i in sigmoid_score]

    # Create list and append breed names
    pet_list = []
    for i in df[pet_index]:
        pet_list.append(i)

    df = pd.DataFrame(pet_list, columns = ['Recommended breeds']) 
    df.set_index('Recommended breeds', inplace=True)

    return df

In [162]:
recommend_pets('Turkish Angora', cat_title_index, df_cat['BreedName'])

Empty DataFrame
Columns: []
Index: [Japanese Bobtail, Chausie, Birman, Munchkin, Tiger]

In [217]:
# Create widget buttons for 5 cats
button_angora = widgets.Button(description="Turkish Angora", button_style='success')
button_abyssinian = widgets.Button(description="Abyssinian", button_style='success')
button_bengal = widgets.Button(description="Bengal", button_style='success')
button_maine_coon = widgets.Button(description="Maine Coon", button_style='success')
button_ocicat = widgets.Button(description="Ocicat", button_style='success')

# Output
output = widgets.Output(layout={'border': '1px solid black'})

# Display buttons
display(button_angora,button_abyssinian, button_bengal, button_maine_coon, button_ocicat, output)

# One function for each cat breed
def angora_button(b):
       with output:
            clear_output(True)
            display(recommend_pets('Turkish Angora', cat_title_index, df_cat['BreedName']))

def abyssinian_button(b): 
       with output:
            clear_output(True)
            display(recommend_pets('Abyssinian', cat_title_index, df_cat['BreedName']))

def bengal_button(b): 
       with output:
            clear_output(True)
            display(recommend_pets('Bengal', cat_title_index, df_cat['BreedName']))

def maine_coon_button(b): 
       with output:
            clear_output(True)
            display(recommend_pets('Maine Coon', cat_title_index, df_cat['BreedName']))
            
def ocicat_button(b):
       with output:
            clear_output(True)
            display(recommend_pets('Ocicat', cat_title_index, df_cat['BreedName']))
            
            
button_angora.on_click(angora_button)
button_abyssinian.on_click(abyssinian_button)
button_bengal.on_click(bengal_button)
button_maine_coon.on_click(maine_coon_button)
button_ocicat.on_click(ocicat_button)

Button(button_style='success', description='Turkish Angora', style=ButtonStyle())

Button(button_style='success', description='Abyssinian', style=ButtonStyle())

Button(button_style='success', description='Bengal', style=ButtonStyle())

Button(button_style='success', description='Maine Coon', style=ButtonStyle())

Button(button_style='success', description='Ocicat', style=ButtonStyle())

Output(layout=Layout(border='1px solid black'))